@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 400px;
  max-height: 400px;
  border-radius: 10px;
}
video {
    max-width: 800px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 1000px;
  padding: 2em;
  margin: auto;
  background-color: #dfe7e2;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 700;
}

h3 {
    font-weight: 500;
    font-style: italic;
}

#me {
    width: 200px;
}
.calculations {
  display: flex;
  gap: 5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

.assignment a {
  color: #000;
  text-decoration: none;
}

.assignment a:hover {
  color: #496850;
}

.assignment img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 300px;
}

.assignment p {
  margin-top: 0.5em;
}

pre {
  background-color: #d4d4d4;
  border-radius: 10px;
  padding: 10px;
  max-width: 800px;
  white-space: pre-wrap;
}

bold {
  font-weight: 600;
}

.questions li img{
  max-width: 600px;
}

#schematics {
  width: 100%;
  height: auto;
}

.big-image {
    max-width: 1000px;
}

.collapsible {
  background-color: #afc2b079;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.17em;
  border-radius: 8px;
  font-weight: 500;
  font-style: italic;
}

.active {
  background-color: #c8d8c8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.collapsible:hover {
  background-color: #aabbaa;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border-color: #00000044;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #eef3ee;
}